.container-produtos {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px; 
    padding: 20px;
}

.produto {
    width: 250px; 
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.produto button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.produto button:hover {
    background-color: #218838;
}

.produto img {
    width: 120px;
    height: auto;
    max-height: 160px;
    border-radius: 5px;
}

.categoria {
    padding: 20px;
    border-top: 2px solid #ddd;
}
.categoria h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #333;
}